html, body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.topheadder{
    background-color: blue;
    display: flex;
}

.menu-item{
    color: wheat;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.brand{
    font-size: 18px;
    font-weight: 600;
}

.maincontent {
    max-width: 600px;
    margin: auto;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border: 20px;
    border-radius: 10%;
}

.image{
    width: 100%;
    height:50%;
}

.button {
    color: black;
    background-color: lightblue;
    padding:  10px;
    text-decoration: none;
    display: inline-block;
}

.bottomfooter{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}