html, body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.topheadder{
    background-color: blue;
    flex-direction: column;
}

.menu-item{
    color: wheat;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}

.brand{
    font-size: 18px;
    font-weight: 600;
}

.maincontent {
    max-width: 600px;
    margin: auto;
    justify-content:center;
    align-items:center;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border: 20px;
    border-radius: 10%;
}

.image{
    width: 100%;
    height:50%;
}

.button {
    color: black;
    background-color: lightblue;
    padding:  10px;
    text-decoration: none;
    display: inline-block;
}

.bottomfooter{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}
.circle{
    margin-left: auto;
    margin-right: auto;
    border: 20%;
    height: 300px;
    width: 300px;
    position: relative;
    background-color: blue;
    background-position: center;
    border-radius: 100%;
    background-size: cover;
    background-image: url(https://static01.nyt.com/images/2024/01/05/multimedia/ND-Poke-bowl-bfwm/ND-Poke-bowl-bfwm-superJumbo.jpg);
}
.minicircle{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right:50px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: azure;
    align-items: center;
}
.center{
    text-align: center;
}
.tablecontent{
    margin-left: auto;
    margin-right: auto;
    width:25%
}